/* 編集テーブル */
table.itemedit {
	padding-left: 10px;
    width: 400px;
}
/* アイテム表示テーブル */
table.itemview {
    padding-left: 10px;
    width: 300px;
}
/* 右に配置 */
.rightpos {
    float: right;
}
/* 男女表示 */
div.showman img.man {
    display:inline;
}
/* 男女表示 */
div.showman img.woman {
    display:none;
}
/* 男女表示 */
div.showwoman img.man {
    display:none;
}
/* 男女表示 */
div.showwoman img.woman {
    display:inline;
}
/* テーブルアイコン否定 */
.break span.icon {
    background-image: url("img/batu.png");
    background-size: 100% 100%;
}
.break img{
    filter: sepia(50%);
    opacity: 0.6;
}

/* テーブルアイコン */
span.icon img{
	height: 20px;
}
img.tableicon{
	height: 20px;
}

/* スキル */
div.skilltree {
    padding: 8px;
    border-radius: 8px;
    border: #ff6d09 solid;
    border-width: 1px;
    
}
/* スキル */
div.skillicons {
    position: relative;
    
}
div.skillpanel {
    position: absolute;
    text-align: center;
}
div#showarea div.skillpanel span.skillname {
    display: none;
}
div#showarea.showskillname div.skillpanel span.skillname {
    display: inline;
    pointer-events: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #000000;
    font-size: 9px;
    background-color: rgba(255, 204, 177, 0.7);
}
div.skillpanel img.skillicon {
    width: 40px;
}
div.skillpanel img.downicon {
    height: 25px;
}
div.skillborder {
    position: absolute;
    background-color: rgba(255, 64, 64, 0.7);
}
div.skillicons table.clearbox {
    margin: 0px;
}
h3 span.icon img {
    height: 27px;
}
div div.skillicons table[power="0"] td img.skillicon {
    filter: grayscale(80%);
    opacity: 0.7;
}
div.skilltree:not([treelevels*="1"]) div.skillicons table td[treelevel="1"] {
    background-image: url("img/batu.png");
    background-size: 100% 100%;
}
div.skilltree:not([treelevels*="1"]) div.skillicons table td[treelevel="1"] img.skillicon{
    filter: sepia(50%);
    opacity: 0.6;
}
div.skilltree:not([treelevels*="2"]) div.skillicons table td[treelevel="2"] {
    background-image: url("img/batu.png");
    background-size: 100% 100%;
}
div.skilltree:not([treelevels*="2"]) div.skillicons table td[treelevel="2"] img.skillicon{
    filter: sepia(50%);
    opacity: 0.6;
}
div.skilltree:not([treelevels*="3"]) div.skillicons table td[treelevel="3"] {
    background-image: url("img/batu.png");
    background-size: 100% 100%;
}
div.skilltree:not([treelevels*="3"]) div.skillicons table td[treelevel="3"] img.skillicon{
    filter: sepia(50%);
    opacity: 0.6;
}
div.skilltree:not([treelevels*="4"]) div.skillicons table td[treelevel="4"] {
    background-image: url("img/batu.png");
    background-size: 100% 100%;
}
div.skilltree:not([treelevels*="4"]) div.skillicons table td[treelevel="4"] img.skillicon{
    filter: sepia(50%);
    opacity: 0.6;
}

/* テーブルアイコン説明 */
.break span.helptext::before {
    content: "×";
}
.nohelp span.helptext {
    display: none;
}
.showhelp span.helptext {
    display: inline;
}

/* 一般 */
input[type="number"]{
	text-align:right;
}

input.submit{
	position: relative;
	left: 300px;
}


